.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    background-color: white;
    border: 2px solid black;
}

body {
    background-color: skyblue;
    margin: 0;
}